html {
    height: 100%;
    display: grid;
}

body {
    height: 100%;
    display: grid;
}

/* Navbar */

.navbar-brand {
    color: #000000;
}

.nav-link {
    color: #000000;
}

.nav-link:hover, .navbar-brand:hover {
    color: #000000;
}

#contact-link:hover {
    color: #fff;
}

#admin-link {
    color: #fff;
}

#admin-link:hover {
    color: black;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}