html {
    height: 100%;
    display: grid;
}

body {
    height: 100%;
    display: grid;
}

/* Navbar */

#contact-link:hover {
    color: #fff;
}

#admin-link {
    color: #fff;
}

#admin-link:hover {
    color: black;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}