{% extends "base.html" %}
{% block content %}

<section>
    <div class="row">
        <div class="col-8 mx-auto text-center md-col-6">
            <h1>Hello, my name is Guled and I am a Fullstack Developer!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 mx-auto text-center md-col-3">
            <p>
                <a class="home-link" href="https://www.linkedin.com/in/guled-mahamoud-a2960b141">LinkedIn</a>
                /
                <a class="home-link" href="https://github.com/gammaled">Github</a>
            </p>
        </div>
    </div>
</section>

{% endblock %}