{% extends "base.html"%}
{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <h2 class="col-12 col-md-3 mx-auto">Portfolio</h2> 
                <div id="education" class="col-12 col-md-6 text-center">
    {% for project in portfolio %}
                    <div class="col-12 mb-5">
                        <h3>{{ project.name }}</h3>
                        <p>
                            <a href="{{ project.live_link }}">Live Site</a> / 
                            <a href="{{ project.github_link }}">Source Code</a>
                        </p>
                    </div>
    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}